@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

$primary-color: #e23f24;
$secondary-color: #f16529;
$blue: #0098e9;

*, html {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.container {
  a {
    text-decoration: none;
    color: $blue;
  }
  a.button {
    background-color: $primary-color;
    display: inline-block;
    color: #FFF;
    padding: 0 20px;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 10px;
  }
  a.button.blue {
    background-color: $blue;
  }
}

.clearfix {
  clear: both;
}
section {
  padding: 25px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    color: #333;
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
      flex: 1;
      padding: 10px;
      h3 {
        color: $primary-color;
      }
      .social {
        display: block;
        margin-bottom: 10px;
      }
      .bio {
        background-color: #F1F1F1;
        padding: 10px;
        margin-top: 5px;
      }
      .photo {
        border-top: solid 2px #E1E1E1;
        text-align: center;
        padding-top: 10px;
      }
      .photo img {
        border-radius: 50%;
      }
    }
  }
}
ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      line-height: 80px;
      display: block;
      color: #333;
      transition: color 0.3s ease;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
#main-nav {
  background-color: #FFF;
  height: 80px;
  img {
    margin-top: 2px;
  }
  ul.nav-list {
    float: right;
    li {
      float: left;
      a {
        min-width: 120px;
        text-align: center;
      }
    }
  }
  .menu-btn {
    float: right;
    color: #333;
    font-size: 32px;
    margin: 15px 15px 0 0;
    display: none;
  }
}
#main-header {
  background-size: 100%;
  position: relative;
  padding: 45px 25px 15px 25px;
  background: rgba(0, 152, 233, 0.8); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.9), rgba(0, 152, 233, 0.9)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(255, 255, 255, 0.9), rgba(0, 152, 233, 0.9)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.9), rgba(0, 152, 233, 0.9)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(0, 152, 233, 0.9)); /* Standard syntax */
  .inner {
    position: relative;
    z-index: 100;
    .content {
      margin: 20px 0 0 0;
      text-align: center;
      h1 {
        color: $primary-color;
      }
      h2 {
        color: #333;
      }
    }
    .social {
      margin: 10px 0 20px 0;
      text-align: center;
      font-size: 20px;
      line-height: 50px;
      a {
        color: #f16529;
      }
    }
  }
  .stamp-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../../assets/img/logo-tran.png') no-repeat center center;
  }
}
#updates {
  background-color: $primary-color;
  padding: 25px;
  h2 {
    color: #FFF;
  }
  .content {
    max-width: 600px;
    margin: auto;
    p {
      margin-bottom: 10px;
    }
    .controls {
      input[type="email"] {
        width: calc(100% - 120px);
        box-sizing: border-box;
        height: 40px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-bottom: 5px;
      }
      input[type="submit"] {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: #333;
        color: #FFF;
        cursor: pointer;
      }
    }
  }
}
#clock {
  text-align: center;
  margin: 30px auto 0 auto;
  countdown-wc {
    display: inline-block;
  }
}
.call-to-action {
  border-top: dotted 1px $blue;
  border-bottom: dotted 1px $blue;
  color: $blue;
  margin: 20px auto 20px auto;
  padding: 0 30px 30px 30px;
  h2 {
    text-align: center;
    width: 200px;
    margin: -20px auto 20px auto;
    padding: 0 20px;
    background-color: #FFF;
  }
  p {
    margin-bottom: 20px;
    text-align: center;
    color: #444444;
  }
  .controls {
    text-align: center;
  }
}

#schedule {
  h2 {
    font-size: 40px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F1F1F1;
    padding: 10px;
    .day {
      flex: 1;
      min-width: 280px;
      .time {
        margin-bottom: 10px;
      }
      h3 {
        margin-bottom: 0;
        font-size: 1em;
      }
      .items {
        border-top: solid 2px #E1E1E1;
        padding-top: 10px;
        .item {
          padding: 10px;
          min-width: 250px;
          .title {
            display: flex;
            .text {
              flex-basis: 75%;
              margin-bottom: 10px;
            }
            .photo {
              flex-basis: 25%;
              padding: 0;
              border: none;
              img {
                border-radius: 50%;
                max-width: 80px;
                margin-top: -10px;
                display: inline-block;
              }
            }
          }
        }
      }
      .talk-title {
        font-size: 1.125em;
        color: $blue;
        border-bottom: solid 1px $primary-color;
        padding-bottom: 5px;
      }
      .description {
        font-size: 1em;
        font-weight: 300;
      }
    }
    .day:first-child {
      padding-right: 10px;
    }
  }
  .bar {
    clear: both;
    height: 2px;
    background-color: $primary-color;
  }
}
#panel {
  background-color: #E1E1E1;
  h1 {
    margin-bottom: 20px;
  }
  .item {
    .photo {
      border-top: solid 2px #FFF;
    }
    .bio {
      background-color: #FFF;
    }
  }
}
#sponsors {
  .description {
    margin-bottom: 20px;
    color: #444444;
  }
  .items {
    margin-bottom: 20px;
    .item {
      height: 100px;
      line-height: 100px;
      text-align: center;
      img {
        vertical-align: middle;
      }
    }
  }
  .controls {
    text-align: center;
  }
}
.slide-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;
  transition: background-color 300ms ease-in;
}
.slide-menu {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  height: 100%;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 300ms ease-in;
  h2 {
    background-color: #e23f24;
    line-height: 80px;
    padding: 0 15px 0 20px;
    a.menu-btn {
      display: block;
      color: #333;
      float: right;
      font-size: 32px;
      width: 100px;
      text-align: right;
      cursor: pointer;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0 20px;
      line-height: 80px;
      a {
        display: block;
        color: #333;
      }
      a:hover {
        color: $primary-color;
      }
    }
  }
}
.slide-menu-container.open {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.25);
  .slide-menu {
    transform: none;
  }
}

rebel-slide-menu {
  --font-family: 'Oswald';
  --header-bg-color: #e23f24;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        color: #333;
        text-decoration: none;
        display: block;
        line-height: 80px;
        padding: 0 20px;
        border-bottom: solid 1px rgba(204, 204, 204, 0.25);
        transition: color 300ms ease;
      }
      a:visited {
        color: inherit;
      }
      a:hover {
        color: #e23f24;
      }
    }
  }
}
/** FOR EDGE/IE which doesn't support CSS variables **/
rebel-slide-menu .title {
  background-color: #e23f24 !important;
}

@media (max-width: 580px) {
  section {
    padding: 10px;
  }
  #main-nav {
    ul {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }
  #clock {
    width: 260px;
  }
}

@media (max-width: 320px) {
  #schedule .container .day .items .item .title .photo img {
    margin-top: 0;
  }
}